In [6]:
import pandas as pd
import numpy as np
s = pd.Series(np.arange(5),index=np.arange(5)[::-1],dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [7]:
s.isin([1,3,4])

4    False
3     True
2    False
1     True
0     True
dtype: bool

In [8]:
s[s.isin([1,3,4])]

3    1
1    3
0    4
dtype: int64

In [9]:
s2 = pd.Series(np.arange(6),index=pd.MultiIndex.from_product([[0,1],['a','b','c']]))
s2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [10]:
s2.index.isin([(1,'a'),(0,'b')])

array([False,  True, False,  True, False, False])

In [11]:
s2.iloc[s2.index.isin([(1,'a'),(0,'b')])]  # 多重索引的多个查找

0  b    1
1  a    3
dtype: int32

In [12]:
s2.loc[(0,'b')]    # 多重索引的使用

1

In [13]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [14]:
s[s>2]

1    3
0    4
dtype: int64

In [15]:
dates = pd.date_range('2025-6-3',periods=8)    # 构造8天的时间数据
dates

DatetimeIndex(['2025-06-03', '2025-06-04', '2025-06-05', '2025-06-06',
               '2025-06-07', '2025-06-08', '2025-06-09', '2025-06-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
df = pd.DataFrame(data=np.random.randn(8,4),index=dates,columns=['A','B','C','D'])
df

                   A         B         C         D
2025-06-03  0.473292  0.974975  0.371515  0.914074
2025-06-04  1.443943 -0.153180  0.636838 -1.371176
2025-06-05  0.154841  0.989677  0.391948  0.157803
2025-06-06 -0.430711  0.740316 -1.610832 -0.860933
2025-06-07  1.097007  0.229911 -2.112147 -1.398240
2025-06-08 -0.623830  1.997112  0.187415  0.608741
2025-06-09 -0.175746 -0.333224  0.849869  0.534899
2025-06-10  2.001762  1.224875  1.132996 -1.129727

In [17]:
df.loc[:]['A']

2025-06-03    0.473292
2025-06-04    1.443943
2025-06-05    0.154841
2025-06-06   -0.430711
2025-06-07    1.097007
2025-06-08   -0.623830
2025-06-09   -0.175746
2025-06-10    2.001762
Freq: D, Name: A, dtype: float64

In [18]:
df['A']

2025-06-03    0.473292
2025-06-04    1.443943
2025-06-05    0.154841
2025-06-06   -0.430711
2025-06-07    1.097007
2025-06-08   -0.623830
2025-06-09   -0.175746
2025-06-10    2.001762
Freq: D, Name: A, dtype: float64

In [19]:
df.where(df < 0)

                   A         B         C         D
2025-06-03       NaN       NaN       NaN       NaN
2025-06-04       NaN -0.153180       NaN -1.371176
2025-06-05       NaN       NaN       NaN       NaN
2025-06-06 -0.430711       NaN -1.610832 -0.860933
2025-06-07       NaN       NaN -2.112147 -1.398240
2025-06-08 -0.623830       NaN       NaN       NaN
2025-06-09 -0.175746 -0.333224       NaN       NaN
2025-06-10       NaN       NaN       NaN -1.129727

In [ ]:
df.where(df < 0,other=-df)   # df中小于0之外的其他值变为负值

                   A         B         C         D
2025-06-03 -0.473292 -0.974975 -0.371515 -0.914074
2025-06-04 -1.443943 -0.153180 -0.636838 -1.371176
2025-06-05 -0.154841 -0.989677 -0.391948 -0.157803
2025-06-06 -0.430711 -0.740316 -1.610832 -0.860933
2025-06-07 -1.097007 -0.229911 -2.112147 -1.398240
2025-06-08 -0.623830 -1.997112 -0.187415 -0.608741
2025-06-09 -0.175746 -0.333224 -0.849869 -0.534899
2025-06-10 -2.001762 -1.224875 -1.132996 -1.129727

In [22]:
df = pd.DataFrame(np.random.randn(10,3),columns=list('abc'))
df

          a         b         c
0  0.595588 -0.214106 -0.340864
1 -1.589176 -0.824616 -0.303373
2  0.183353  0.576995  0.070300
3 -0.376514 -0.816404  0.039058
4 -0.815160  0.775397 -0.342786
5  0.338144 -1.133207 -0.152289
6  0.933335  0.027708 -2.121102
7 -0.880834 -0.179361  0.542144
8 -0.060717  0.416171 -0.476462
9  1.038544  1.936763  1.370942

In [28]:
df.query('(a<b) & (b<c)')

          a         b         c
1 -1.589176 -0.824616 -0.303373
7 -0.880834 -0.179361  0.542144