In [2]:
import pandas as pd
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'A' :['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'C' :['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

In [3]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [4]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [5]:
pd.merge(left=left,right=right,on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [6]:
left = pd.DataFrame({'key1':['K0','K1','K2','K3'],
                     'key2':['K0','K1','K2','K3'],
                     'A' :['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key1':['K0','K1','K2','K3'],
                      'key2':['K0','K1','K2','K4'],
                     'C' :['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K1   K1  A1  B1
2   K2   K2  A2  B2
3   K3   K3  A3  B3

In [7]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K1  C1  D1
2   K2   K2  C2  D2
3   K3   K4  C3  D3

In [8]:
pd.merge(left=left,right=right,on='key1')

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K1     K1  A1  B1     K1  C1  D1
2   K2     K2  A2  B2     K2  C2  D2
3   K3     K3  A3  B3     K4  C3  D3

In [9]:
pd.merge(left=left,right=right,on=['key1','key2'],how='inner')

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K1  A1  B1  C1  D1
2   K2   K2  A2  B2  C2  D2

In [10]:
pd.merge(left=left,right=right,on=['key1','key2'],how='outer')  # how中 outer取并集 inner取交集  也可以是left或right为基准

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K1   K1   A1   B1   C1   D1
2   K2   K2   A2   B2   C2   D2
3   K3   K3   A3   B3  NaN  NaN
4   K3   K4  NaN  NaN   C3   D3

### pandas全局设置

In [11]:
pd.get_option(pat='display.max_rows')

60

In [12]:
pd.set_option('display.max_rows',6)  #  显示的最大行数

In [13]:
pd.Series(index=range(0,100))

0    NaN
1    NaN
2    NaN
      ..
97   NaN
98   NaN
99   NaN
Length: 100, dtype: float64

In [15]:
pd.get_option('display.max_columns')  # 控制columns的显示长度

20

In [18]:
pd.set_option('display.max_columns',30)

In [19]:
pd.DataFrame(columns=range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

In [22]:
pd.options.display.max_colwidth # 两种方式得到字符串最大显示长度

50

In [23]:
pd.get_option('display.max_colwidth')

50

In [24]:
pd.set_option('display.max_colwidth',30)

In [25]:
pd.Series(index=['A'],data='t'*70) # 设置后字符串最大长度只显示30

A    tttttttttttttttttttttttttt...
dtype: object

In [26]:
pd.get_option('display.precision')

6

In [27]:
pd.Series(data=1.2345678912344556)

0    1.234568
dtype: float64

In [28]:
pd.set_option('display.precision',5)

In [29]:
pd.Series(data=1.2345678912344556)

0    1.23457
dtype: float64