### 字符串操作

In [2]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gear','AGER',np.nan])
s

0       A
1       b
2       B
3    gear
4    AGER
5     NaN
dtype: object

In [3]:
s.str.lower()   # 字符串小写

0       a
1       b
2       b
3    gear
4    ager
5     NaN
dtype: object

In [4]:
s.str.upper()

0       A
1       B
2       B
3    GEAR
4    AGER
5     NaN
dtype: object

In [5]:
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [6]:
index = pd.Index(['     qin','   long   '])
index

Index(['     qin', '   long   '], dtype='object')

In [7]:
index.str.strip()   # 去除前后空格

Index(['qin', 'long'], dtype='object')

In [8]:
index.str.lstrip()  # 去除左边第一个的前后空格

Index(['qin', 'long   '], dtype='object')

In [9]:
df = pd.DataFrame(data=np.random.randn(3,2),columns=['A a','B b'],index=range(3))
df

        A a       B b
0  0.145496  0.944267
1 -0.644906  0.683760
2  2.079046 -2.510099

In [10]:
df.columns = df.columns.str.replace(pat=' ',repl='_') 
df

        A_a       B_b
0  0.145496  0.944267
1 -0.644906  0.683760
2  2.079046 -2.510099

In [11]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [12]:
s.str.split('_')    #按照_切分

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [13]:
s.str.split('_',expand=True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [14]:
s.str.split('_',n=1,expand=True)  # n参数表示切分次数

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [15]:
s = pd.Series(['a','abs','asfgg','abse','abex'])
s

0        a
1      abs
2    asfgg
3     abse
4     abex
dtype: object

In [16]:
s.str.contains(pat='abs')  # 字符串是否包含abs

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [17]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [18]:
s.str.get_dummies(sep='|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1