In [186]:
import pandas as pd
import numpy as np

In [187]:
df = pd.read_excel('./knn.xlsx') 
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [189]:
print(df.index)

type(df.columns)

RangeIndex(start=0, stop=768, step=1)

pandas.core.indexes.base.Index

In [190]:
df.values

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [191]:
df['Age'][:5]

0    50
1    31
2    32
3    21
4    33
Name: Age, dtype: int64

可以指定索引不使用默认索引 df = df.set_index('Name') 可以用不重复的name作为索引

In [192]:
age = df['Age']
age

0      50
1      31
2      32
3      21
4      33
       ..
763    63
764    27
765    30
766    47
767    23
Name: Age, Length: 768, dtype: int64

In [193]:
age = age + 10
print(age)
age = age - 10

0      60
1      41
2      42
3      31
4      43
       ..
763    73
764    37
765    40
766    57
767    33
Name: Age, Length: 768, dtype: int64

In [194]:
age.max()

81

In [195]:
age.min()

21

In [196]:
age.mean()

33.240885416666664

In [197]:
df.describe()  # 数据量 平均值 标准差 最小值 四分之一位的值

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

pandas 索引结构

In [198]:
df[['Age','Insulin']][:5] # 注意整体传入

   Age  Insulin
0   50        0
1   31        0
2   32        0
3   21       94
4   33      168

*loc 用label来定位  即 df = df.set_index('Name') 使用 df.loc['小明':'小王','Age']  或 df.loc['小明':'小王',:]

*iloc 用position 定位 即数字类似数组

In [199]:
df.iloc[0]

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [200]:
df.iloc[:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [201]:
df.iloc[:5,1:3]

   Glucose  BloodPressure
0      148             72
1       85             66
2      183             64
3       89             66
4      137             40

In [202]:
df.loc[0]['Age'] = 35
df.head()

C:\Users\覃龙\AppData\Local\Temp\ipykernel_7300\2302895259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[0]['Age'] = 35

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

### bool类型的索引

In [203]:
bool_index = df['BMI']>30
print(bool_index)

0       True
1      False
2      False
3      False
4       True
       ...
763     True
764     True
765    False
766     True
767     True
Name: BMI, Length: 768, dtype: bool

In [204]:
df[bool_index] # 只有BMI大于30的数据 即df[df['BMI'] > 30]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
761,9,170,74,31,0,44.0,0.403,43,1
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

利用groupby分组

In [205]:
# 示例数据
data = {
    "company": ["A", "B", "A", "C", "B", "C"],
    "salary": [10, 20, 30, 40, 50, 60],
    "age": [25, 30, 35, 28, 32, 45]
}
df = pd.DataFrame(data)
print(df)

# 按公司分组并计算平均薪资和年龄
grouped = df.groupby("company").mean()
print(grouped)

  company  salary  age
0       A      10   25
1       B      20   30
2       A      30   35
3       C      40   28
4       B      50   32
5       C      60   45
         salary   age
company
A          20.0  30.0
B          35.0  31.0
C          50.0  36.5

In [206]:
grouped = df.groupby("company").agg({
    "salary": ["mean", "sum"],
    "age": "max"
})
print(grouped)

        salary      age
          mean  sum max
company
A         20.0   40  35
B         35.0   70  32
C         50.0  100  45

In [207]:
df = pd.read_excel('./knn.xlsx') 
df.cov()  # 协方差

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,11.354056,13.947131,9.214538,-4.390041,-28.555231,0.469774,-0.037426,21.570620,0.356618
Glucose,13.947131,1022.248314,94.430956,29.239183,1220.935799,55.726987,1.454875,99.082805,7.115079
BloodPressure,9.214538,94.430956,374.647271,64.029396,198.378412,43.004695,0.264638,54.523453,0.600697
SkinThickness,-4.390041,29.239183,64.029396,254.473245,802.979941,49.373869,0.972136,-21.381023,0.568747
Insulin,-28.555231,1220.935799,198.378412,802.979941,13281.180078,179.775172,7.066681,-57.143290,7.175671
BMI,0.469774,55.726987,43.004695,49.373869,179.775172,62.159984,0.367405,3.360330,1.100638
DiabetesPedigreeFunction,-0.037426,1.454875,0.264638,0.972136,7.066681,0.367405,0.109779,0.130772,0.027472
Age,21.570620,99.082805,54.523453,-21.381023,-57.143290,3.360330,0.130772,138.303046,1.336953
Outcome,0.356618,7.115079,0.600697,0.568747,7.175671,1.100638,0.027472,1.336953,0.227483

In [208]:
df.corr() # 相关系数

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [209]:
df['Age'].value_counts(ascending=True,bins=5) # 统计相同数值的个数  也可用bins平均分为5个区间，统计区间内值的个数

(69.0, 81.0]        3
(57.0, 69.0]       39
(45.0, 57.0]       76
(33.0, 45.0]      176
(20.939, 33.0]    474
Name: count, dtype: int64

In [210]:
df['Age'].count()

768

### Serise结构数据的增删改查

In [211]:
data = [10,11,12]
index = ['a','b','c']
s = pd.Series(data=data,index=index)
s

a    10
b    11
c    12
dtype: int64

In [212]:
print(s[0])
print(s['b'])

10
11

C:\Users\覃龙\AppData\Local\Temp\ipykernel_7300\3039278512.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [213]:
mask = [True,False,True]
s[mask]

a    10
c    12
dtype: int64

In [214]:
s[0:2]

a    10
b    11
dtype: int64

In [215]:
s.loc['c']

12

In [216]:
s.iloc[1]

11

In [217]:
s1=s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [218]:
s2 = s1.replace(to_replace=100,value=101,inplace=False)
print(f'{s2}\n{s1}')  #当inplace为False时不会改变原来的数据

a    101
b     11
c     12
dtype: int64
a    100
b     11
c     12
dtype: int64

In [219]:
s1.index = ['a','b','d']  # 修改series的索引
s1

a    100
b     11
d     12
dtype: int64

In [220]:
s1.rename(index = {'a':'A'},inplace = True)  # 将索引a 改为 A
s1

A    100
b     11
d     12
dtype: int64

In [221]:
s2 = pd.Series(data=[100,110],index=['h','k'])
s2

h    100
k    110
dtype: int64

In [222]:
s1['j'] = 500 #单独增加一个数据

In [223]:
pd.concat([s1,s2],ignore_index=False)  # append已经移除 可以用concat方法将两个serise沿轴0（默认行为）连接

A    100
b     11
d     12
j    500
h    100
k    110
dtype: int64

In [224]:
pd.concat([s1,s2],ignore_index=True)    # ignore_index=True 时会重新生成索引

0    100
1     11
2     12
3    500
4    100
5    110
dtype: int64

### 删除操作

In [225]:
del s1['A']  # 删除单行
s1

b     11
d     12
j    500
dtype: int64

In [226]:
s1.drop(['b','d'],inplace=True)
s1

j    500
dtype: int64

### DataFrame结构的增删改查

In [227]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data=data,index=index,columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

### 查操作类似

In [228]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [229]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [230]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

### 改操作

In [231]:
df.loc['a']['A']

1

In [232]:
df.loc['a']['A'] = 150
df

     A  B  C
a  150  2  3
b    4  5  6

In [233]:
df.index = ['f','g']
df

     A  B  C
f  150  2  3
g    4  5  6

### 增操作

In [234]:
df.loc['c'] = [1,2,3] # 增加一行
df

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3

In [235]:
data = [[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A','B','C']

df2 = pd.DataFrame(data=data,index=index,columns=columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [236]:
df3 = pd.concat([df,df2],axis=0) # columns相同时  按行拼接
df3

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3
j    1  2  3
k    4  5  6

In [237]:
df2['Tang'] = [10,11] # 增加一列
df2

   A  B  C  Tang
j  1  2  3    10
k  4  5  6    11

In [238]:
df4 = pd.DataFrame(data=[[10,11],[12,13]],index=['j','k'],columns=['D','E'])
df4

    D   E
j  10  11
k  12  13

In [239]:
df5 = pd.concat([df2,df4],axis=1) # index值相同时  按列拼接
df5

   A  B  C  Tang   D   E
j  1  2  3    10  10  11
k  4  5  6    11  12  13

### 删除

In [240]:
df5.drop(['j'],inplace=True)  #按行删除
df5

   A  B  C  Tang   D   E
k  4  5  6    11  12  13

In [241]:
del df5['Tang']
df5

   A  B  C   D   E
k  4  5  6  12  13

In [242]:
df5.drop(['A','B','C'],axis=1,inplace=True) #按列删除
df5

    D   E
k  12  13